DB_HOST=localhost
DB_PORT=5432
DB_NAME=prescription_system
DB_USER=postgres
DB_PASSWORD=postgres
SERVER_PORT=3000
JWT_SECRET=prescription_system_jwt_secret_key_2026
JWT_EXPIRES_IN=12h
QRCODE_SECRET=rx_qrcode_secret_key_2026_#$
